.hero-bg {
  display: flex;
  height: 85vh;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/firease-mario.appspot.com/o/images%2FScreenshot%202022-05-04%20at%2002.10.37.png?alt=media&token=28ae8d7f-8838-4f07-93d5-b32fe2c9f51a");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-around;
  align-items: center;
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}